*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-size: 14px;
    color:white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container{
    position: relative;
    /*
      此处为了容器能够保持 16:9的比例
      height = width * 9 / 16
    */
    width: 72vw;
    height: 40vw;
    overflow: hidden;
    background:red;
}
/* 两侧控制按钮 */
.container .side-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
    z-index: 2;
}
.container .side-btn label:not(:nth-child(1)){
    display: none;
}
.container .side-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.container .side-btn:hover::before{
    opacity: 1;
}
.container .prev-btn{
    left: 0;
}
.container .prev-btn::before{
    content: '<';
}
.container .next-btn{
    right: 0;
}
.container .next-btn::before{
    content: '>';
}
/* 图片容器 */
.container .pic-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%; /* 500% 对应 5张图片 */
    height: 100%;
    margin-left: 0;
    transition: margin 0.5s ease;
}
.pic-item{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width : calc(100% / 5); /* 计算每个子元素的宽度 */
    height: 100%;
    color:white;
    font-size: 3rem;
}
.pic-item-1{
    background: #f1c40f;
}
.pic-item-2{
    background: #2ecc71;
}
.pic-item-3{
    background: #3498db;
}
.pic-item-4{
    background: #9b50ba;
}
.pic-item-5{
    background:#DA3653;
}
/* 底部控制板 */
.container .count-list{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 30px;
    z-index: 2;
}
.container .count-item{
    position: relative;
    list-style: none;
    width: 20px;
    height: 5px;
    background:rgba(255,255,255,0.5);
    border-radius: 2px;
    cursor: pointer;
}
.container .count-item:hover{
    background:rgba(255,255,255,1);
}

/* 无缝轮播 */
.container .pic-after{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: -1;
}
.container .pic-after div{
    width: 50%;
}

@media screen and (max-width:520px){
    html,body{
        font-size: 10px;
    }
    .container{
        width: 90vw;
        height: 50vw;
    }
}