*{
    margin: 0;
    padding: 0;
}
html,body{
    display: flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    overflow: hidden;
}
.container{
    position: relative;
    width:80%;
    height:75%;
    background:#333;
    border-radius: 50px;
    overflow: hidden;
}
.pic{
    width:100%;
    height:100%;
    overflow: hidden;
}
.pic .box{
    position: relative;
    width:500%;
    height:100%;
    transition: margin 1s;
}
.pic .box > img{
    float: left;
    width:calc(100% / 5);
    height:100%;
    color: white;
}
.pic .after_box{
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:100%;
    opacity:0;
    filter: alpha(opacity=0);
}
.pic .before_box{
    position: absolute;
    top:0;
    right:0;
    width:200%;
    height:100%;
    opacity:0;
    filter:alpha(opacity=0);
}
.pic .after_box img,.pic .before_box img{
    width:50%;
    height:100%;
    float: left;
}
.count{
    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height:10%;
    background:rgba(255,255,255,.1);
}
.count > ul{
    display: flex;
    align-items:center;
    justify-content:space-around;
    width:30%;
    height:100%;
}
.count li{
    list-style-type: none;
    float: left;
    width:1.2vmax;
    height:1.2vmax;
    border-radius: 50%;
}
.count li label{
    display: block;
    width:14px;
    height:14px;
    background:#447fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}
.count li .btn_1{
    background:white;
}
input[type=radio]{
    display: none;
}

/* 每次点击按钮 重置当前焦点按钮的样式 */
input[type=radio]:checked ~ .count label{
    background: #447fff;
}
/* 重置当前显示的左右按钮 */
input[type=radio]:checked ~ .dir_box label{
    display: none;
}

/* 下方按钮1 */
#btn1:checked ~ .pic .box{
    margin-left: 0;
}
#btn1:checked ~ .count .btn_1{
    background:white;
}
#btn1:checked ~ .dir_box .btn_btn_1{
    display: flex;
}

/* 下方按钮2 */
#btn2:checked ~ .pic .box{
    margin-left: -100%;
}
#btn2:checked ~ .count .btn_2{
    background:white;
}
#btn2:checked ~ .dir_box .btn_btn_2{
    display: flex;
}

/* 下方按钮3 */
#btn3:checked ~ .pic .box{
    margin-left: -200%;
}
#btn3:checked ~ .count .btn_3{
    background:white;
}
#btn3:checked ~ .dir_box .btn_btn_3{
    display: flex;
}

/* 下方按钮4 */
#btn4:checked ~ .pic .box{
    margin-left: -300%;
}
#btn4:checked ~ .count .btn_4{
    background:white;
}
#btn4:checked ~ .dir_box .btn_btn_4{
    display: flex;
}

/* 下方按钮5 */
#btn5:checked ~ .pic .box{
    margin-left: -400%;
}
#btn5:checked ~ .count .btn_5{
    background:white;
}
#btn5:checked ~ .dir_box .btn_btn_5{
    display: flex;
}


.dir_box{
    position: absolute;
    top:40%;
    width:8%;
    height:20%;
    background:rgba(0,0,0,.2);
}
.left_box{
    left:0;
}
.right_box{
    right:0;
}

.dir_box label{
    position: absolute;
    top:10%;
    left:10%;
    width:20px;
    height:20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent white white;
    cursor: pointer;
}
.dir_box label{
    position: absolute;
    top:calc(100% - (100px / 2));
    left:calc(100% - (100px / 2));
    width:20px;
    height:20px;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.left_box label{
    transform: rotate(45deg);
}
.right_box label{
    transform: rotate(-135deg);
}

.dir_box label{
    display: none;
}
.dir_box label:hover{
    border-color: transparent transparent #3f79ff #3f79ff;
}
.left_box .left_btn_1{
    display: flex;
}
.right_box .right_btn_1{
    display: flex;
}

/* 左边第一个按钮 */
#left_btn1:checked ~ .pic .box{
    margin-left: -400%;
}
#left_btn1:checked ~ .count .btn_5{
    background:white;
}
#left_btn1:checked ~ .pic .before_box{
    transition: right 1s;
    opacity:1;
    filter: alpha(opacity=100);
    right:-100%;
}
#left_btn1:checked ~ .dir_box .btn_btn_5{
    display: flex;
}

/* 右边第一个按钮 */
#right_btn1:checked ~ .pic .box{
    margin-left: -100%;
}
#right_btn1:checked ~ .count .btn_2{
    background:white;
}
#right_btn1:checked ~ .dir_box .btn_btn_2{
    display: flex;
}

/* 左边第二个按钮 */
#left_btn2:checked ~ .pic .box{
    margin-left: 0;
}
#left_btn2:checked ~ .count .btn_1{
    background:white;
}
#left_btn2:checked ~ .dir_box .btn_btn_1{
    display: flex;
}

/* 右边第二个按钮 */
#right_btn2:checked ~ .pic .box{
    margin-left: -200%;
}
#right_btn2:checked ~ .count .btn_3{
    background:white;
}
#right_btn2:checked ~ .dir_box .btn_btn_3{
    display: flex;
}

/* 左边第三个按钮 */
#left_btn3:checked ~ .pic .box{
    margin-left: -100%;
}
#left_btn3:checked ~ .count .btn_2{
    background:white;
}
#left_btn3:checked ~ .dir_box .btn_btn_2{
    display: flex;
}

/* 右边第三个按钮 */

#right_btn3:checked ~ .pic .box{
    margin-left: -300%;
}
#right_btn3:checked ~ .count .btn_4{
    background:white;
}
#right_btn3:checked ~ .dir_box .btn_btn_4{
    display: flex;
}

/* 左边第四个按钮 */

#left_btn4:checked ~ .pic .box{
    margin-left: -200%;
}
#left_btn4:checked ~ .count .btn_3{
    background:white;
}
#left_btn4:checked ~ .dir_box .btn_btn_3{
    display: flex;
}

/* 右边第四个按钮 */

#right_btn4:checked ~ .pic .box{
    margin-left: -400%;
}
#right_btn4:checked ~ .count .btn_5{
    background:white;
}
#right_btn4:checked ~ .dir_box .btn_btn_5{
    display: flex;
}

/* 左边第五个按钮 */

#left_btn5:checked ~ .pic .box{
    margin-left: -300%;
}
#left_btn5:checked ~ .count .btn_4{
    background:white;
}
#left_btn5:checked ~ .dir_box .btn_btn_4{
    display: flex;
}

/* 右边第五个按钮 */

#right_btn5:checked ~ .pic .box{
    margin-left: -500%;
    transition: margin 1s 0s;
}
#right_btn5:checked ~ .pic .after_box{
    transition: left 1s;
    opacity:1;
    filter: alpha(opacity=100);
    left:-100%;
}
#right_btn5:checked ~ .pic .box{
    margin-left: 0;
    transition: margin 1s 0s;
}
#right_btn5:checked ~ .count .btn_1{
    background:white;
}
#right_btn5:checked ~ .dir_box .btn_btn_1{
    display: flex;
}